<?xml version="1.0" ?>
<robot name="plane">
  <link name="ground_plane">
    <inertial>
      <mass value="0"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision>
      <geometry>
        <plane normal="0 0 1" offset="0"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <plane normal="0 0 1" offset="0"/>
      </geometry>
    </visual>
  </link>
</robot>
